.Content {
    margin: 200px;
    text-align: left;
}

h1{
    text-align: center;
}

@media (max-width: 950px){
    h1{
        font-size: 30px;
    }
}

@media (max-width: 670px){
    h1{
        font-size: 20px;
    }
}

@media (max-width: 520px){
    h1{
        font-size: 15px;
    }
}