.ContainerStyles {
    height: 40px;
    width: 80%;
    background-color: #e0e0de;
    border-radius: 15px;
    margin: 20px auto;
    text-align: center;
  }

.LabelStyles {
    padding: 10px;
    color: black;
    font-weight: bold;
  }
  
@media (max-width: 950px){
  .ContainerStyles {
    height: 30px;
  }
  .LabelStyles {
    padding: 8px;
    font-size: 12px;
  }
}
@media (max-width: 670px){
  .ContainerStyles {
    height: 20px;
  }
  .LabelStyles {
    padding: 4px;
    font-size: 10px;
  }
}
